.sidebar-container {
    height: 100vh;
    width: 28vw;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

h2 {
    margin-top: 2rem;
    position: sticky;
    font-size: 2.5rem;
}

.note-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    overflow-y: scroll;
    width: 28vw;
}
.note-list::-webkit-scrollbar {
    width: 5px; /* Adjust the width of the scrollbar */
  }
  
  /* Style for scrollbar track */
  .note-list::-webkit-scrollbar-track {
    background: transparent; /* Change the background color of the scrollbar track */
  }
  
  /* Style for scrollbar thumb */
  .note-list::-webkit-scrollbar-thumb {
    background: #888; /* Change the color of the scrollbar thumb */
  }

.create-note-button {
    position: fixed;
    bottom: 1rem;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    padding: 1px 1px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #16008B;
    color: #ffffff;
    line-height: 70px;
}

.create-note-button:focus {
    outline: none;
    box-shadow: none;
}

.blurred-background {
    opacity: 0.5;
    
}